@{
    ViewBag.Title = "Home Page";
}

@model Models.HomePagePostLists

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit</title>
    <link href="~/Content/sideBarStyle.css" rel="stylesheet" />
    <link href="~/Content/postStyle.css" rel="stylesheet" />
    <link href="~/Content/modalStyle.css" rel="stylesheet" />
    <link href="~/Content/homeStyle.css" rel="stylesheet" />
    <script src="~/Scripts/postFunctions.js"></script>
    <script src="~/Scripts/postValidation.js"></script>
    <script src="~/Scripts/openCloseModal.js"></script>
    <script src="~/Scripts/searchAndSortPost.js"></script>
    <script type="text/javascript">
    var alertMessage = '@ViewBag.AlertMessage';
    if (alertMessage) {
        alert(alertMessage);
    }
    </script>
</head>
<body>
    <header>
        <h1>Reddit</h1>
    </header>
    <br>
    <header>
        <h3>Moje teme</h3>
    </header>

    <!-- Prikaz za pretragu, sortiranje i dodavanje novog posta -->
    <div class="sidebar-container">
        <div class="sidebar">
            <div class="button-container">
                <button id="openModal">Dodavanje novog posta</button>
            </div>
        </div>
    </div>

    <!-- Postovi -->
    @if (Model.MyPosts.Count == 0)
    {
        <br>
    }
    else
    {
        foreach (var post in Model.MyPosts)
        {
            <div class="post">
                <h2>@post.Title</h2>
                <span class="delete-post" onclick="deletePost('@post.Id')">
                    <img class="delete-post-icon" src="~/Images/Icons/trash-icon.jpg" alt="Brisanje">
                </span>
            </div>
        }
    }

    <header>
        <h3>Sve teme</h3>
    </header>

    <!-- Prikaz za pretragu, sortiranje i dodavanje novog posta -->
    <div class="sidebar-container">
        <div class="sidebar">
            <input id="searchInput" type="text" placeholder="Pretraga..." onchange="searchText()">
            <select id="sortSelect" onchange="sendPostRequest()">
                <option value="">Sortiranje...</option>
                <option value="Sortiranje po nazivu">Naziv posta</option>
            </select>
        </div>
    </div>
    <div id="allPostsContainer">
        @if (Model.AllPosts.Count == 0)
        {
            <br>
        }
        else
        {
            <!-- Postovi -->
            foreach (var post in Model.AllPosts)
            {
                <div class="post">
                    <h2><button class="hidden-button" onclick="handleTitleClick('@post.Id')" id="@post.Id">@post.Title</button> <span class="add-to-favorites favorite-star" onclick="addToFavorites(this)">★</span></h2>
                </div>
            }
        }
        <div />

        <!-- Modal  za dodavanje novo posta -->
        <div id="myModal" class="modal">
            <div class="modal-container">
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="modal-header">
                        <h2 class="titleStyle">Novi post</h2>
                    </div>
                    <div class="modal-body">
                        <form id="postForm" method="post" action="/Home/AddNewPost">
                            <label for="postTitle">Tema:</label><br>
                            <input type="text" id="postTitleModal" name="postTitleModal"><br><br>
                            <label for="postDescription">Opis:</label><br>
                            <textarea id="postDescriptionModal" name="postDescriptionModal"></textarea><br><br>
                            <label for="postImage">Slika:</label><br>
                            <input type="file" id="imageModal" name="imageModal" onchange="showImage(this)" accept="image/*" /><br><br>
                            <img id="newPostImage" src="" alt="Slika za post"><br><br>
                            <input type="button" class="btn btn-outline-dark custom-button" onclick="ValidateAndSubmitPost()" value="Dodaj novi post">
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>
</html>